* {
    body {
        background-color: var(--cor-principal);

        .box-search-background {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .box-search-resposta {
                height: 90vh;
                width: 90vw;
                background-color: #fff;
                border-radius: var(--borda-arredondamento);
            }
    }

    .box-search {
        width: 90vw;
        display: flex;
        flex-direction: column;

        .box-search-box-btn {
            display: flex;
            align-items: center;
            margin-top: .5rem;

            input {
            all: unset;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
                
            font-weight: var(--font-peso);
            background-color: #fff;
            padding: 6px 17px;
            border-left: 1rem solid var(--cor-secundaria);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        button {
            background-color: var(--cor-secundaria);
            border: none;
            height: 2rem;
            width: 4rem;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

              img {
            height: 1.4rem;
        }
        }
        }  
    }
    }
    
}